body{
    margin: 0px;
    padding: 0px;
    font-family: 'Rowdies', cursive;
    
}

.full-container{
    width: 1346px;
}

ul,li,.link-1{
    text-decoration: none;
    float: right;
    top: 0px;
    display: inline;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(242, 9, 188);
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}

.link-1{
    padding: 5px;
    width: 70px;
}

.link-1:hover{
    background-color: rgb(242, 9, 188);
    color: white;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    height: 230px;
}

.logo{
    margin: 10px;
    padding: 10px;
}


p{
    text-align: center;
    font-size: 14px;
    font-family: serif;
    color: #0909098c;
}

h1{
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-family: 'Tektur', cursive;
    font-weight: bold;
    text-transform: capitalize;
}

.button-1,.button-2{
    border: 1px solid rgb(242, 9, 188);
    border-radius: 30px;
    background-color: rgb(242, 9, 188);
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    width: 180px;
    text-align: center;
    text-transform: capitalize;
    font-family: system-ui;
    font-weight: bold;
    font-size: 13px;
}

.edit,.imges,img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.edit-2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 250px;
}

h2{
    font-size: 50px;
    margin: 0px;
}

span{
    margin: 0px;
    font-family: sans-serif;
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.edit-3{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-transform: capitalize;
    height: 550px;
    background-color: #ffffff1c;
    border-radius: 168px;
    box-shadow: 0px 0px 24px -7px black;
}

h3{
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    font-family: 'Tektur', cursive;
    margin-bottom: 10px;
    
}

.desktop-bottom{
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.5;
    text-indent: 20px;
    color: #0000008c;
}

.edit-5,.edit-6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    
}

.one{
    text-indent: 150px;
    text-align: center;
}

h4{
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Tektur', cursive;
}

.desktop-bottom-2{
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.6;
    text-indent: 150px;
    color: #0000008c;
    
}


.head{
    margin-top: 20px;
}


footer{
    background-color: rgb(13, 51, 51);
    border: 1px solid rgb(13, 51, 51);
    border-radius: 30% 40% 0px 0px;
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: space-around;
    
}

::selection{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.foot-1{
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 20px;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}

.contacts{
    margin: 20px 0px;
    padding-bottom: 20px;
    

}
.contacts,.phone,a{
    text-decoration: none;
    color: #ffffff;
    font-family: serif;
}

.letter-1{
    margin: 0px;
    width: 290px;
}

.new-edit{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Tektur', cursive;
    color: white;
    text-transform: uppercase;
}

input{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    outline-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 3px;
}



button{
    background-color: rgb(242, 9, 188);
    color: white;
    padding: 6px 15px;
    border: 1px solid rgb(242, 9, 188);
    border-radius: 3px;
    text-transform: capitalize;
    
    
}


.logo-name{
    font-size: 33px;
    color: white;
    
}



@media (max-width: 576px)  {

    .full-container{
        max-width: 10px;
        height: auto;
    }

    .container{
        min-width: 250px;
        
    }

    .logo img{
        width: 50px;
    }

    ul,li,.link-1{
        display: none;
        
    }

    .container-2{
        width: 250px;
        height: auto;
    }

    .container-2 h1{
        font-size: 8px;
        margin-top: 10px;
        width: 250px;
        text-align: center;
        text-indent: 1px;
        width: 170px;
    }

    .container-2 p{
        font-size: 6px;
        text-indent: 2px;
        font-weight: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .button-1, .button-2{
        width: 100px;
        border: none;
        font-size: 8px;
        font-weight: 100px;
        padding: 5px;
        margin: 0;
    }

    .edit,.imges img{
        width: 200px;
    }

    .community, h2, span{
        font-size: 6px;
        
    }
    .community-2, h2, span{
        font-size: 6px;
    }

    .community img{
        width: 10px;
        
    }

    .community-2 img{
        width: 10px;
        
    }

    .edit-2, .community , .community-2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        margin-top: 5px;
        margin-right: 60px;
    }

    .edit-3{
        width: 250px;
        height: auto;
    }

    .img2e img{
        width: 130px;
        height: auto;
    }

    .edit-4 h3{
        font-size: 10px
    }

    .edit-4 .desktop-bottom{
        font-size: 6px;
        text-indent: 10px;
        text-align: center;
    }

    .edit-5{
        width: 250px;
        display: flex;
        align-items: center;
        
    }

    .edit-6 img{
        width: 130px;
    }

    .one h4{
        font-size: 8px;
        text-indent: 10px;
        margin: 10px;
        padding: 0;
    }

    .one .desktop-bottom-2{
        font-size: 5px;
        text-indent: 10px;
        margin: 0;
        padding: 0;
        
    }

    footer{
        width: 250px;
        height: auto;
        border-radius: 10px 10px 0 0;
        margin-top: 10px;
    }

    footer,.img11e{
        font-size: 5px;

    }

    .logo-name{
        font-size: 10px;
        margin-top: 30px;
    }

    .foot-1 span{
        font-size: 8px;
        text-align: center;
    }

    .letter-1, .foot-1 span{
        font-size: 8px;
        text-align: center;
    }

    .new-edit{
        font-size: 10px;
        text-align: center;
    }

    .searc1h input{
        width: 100px;
        height: 6px;
    }

    .searc1h button{
        font-size: 8px;
        width: 70px;
        padding: 5px;
        margin-top: 5px;
    }
}